* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header --------------------------------------------------------> */
.header {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: 1fr 1fr 4fr 4fr;
    grid-column-gap: 30px;
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
    width: 1170px;
    height: 1083px;
}

/* NavBar --------------------------------------------------------> */
.navbar {
    grid-column-start: 8;
    grid-column-end: 13;
}

.navbar img {
    grid-column-start: 1;
    grid-column-end: 2;
}

.nav__list {
    list-style: none;
    
}

.nav__link {
    display: block;
    float: right;
    margin-left: 13%;
}

.nav__link:last-child {
    margin: 0;
}

.nav__link a {
    text-decoration: none;
    font: 14px 'Montserrat', sans-serif;
    color: #c0c0c0;
    display: inline-block;
    transition: transform .1s;
}

.nav__link a:hover {
    color: #fff;
    transform: scale(1.2);
}

/* HeaderText ----------------------------------------------------> */
.header__text {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-start: 4;
    grid-column-end: 10;
    justify-items: center;
    margin-top: 250px;
}

.header__text h1 {
    font: 70px 'Dela Gothic One', cursive;
    color: #fff;
}

.header__text h2 {
    font: 16px 'Raleway', sans-serif;
    color: #fff;
}

/* HeaderButton --------------------------------------------------> */

.header__button {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.header__button a {
    font: 16px 'Source Sans Pro', sans-serif;
    color: #c0c0c0;
    letter-spacing: 1.5px;
    text-decoration: none;
    border: 2px solid #c0c0c0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    transition: transform .1s;
}

.header__button a:hover {
    color: #fff;
    border: 2px solid #fff;
    transform: scale(1.1);
}